.background {
  background: url("/chips_background.svg");
  background-size: auto;
}

.experience {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 2px #efefef, -1px -1px 4px #efefef;
  width: calc(100% - 2rem);
  background-color: #ffffff;
}

.experience:last-child {
  margin-bottom: 0;
}

.experience-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  margin: 0;
}

.description {
  flex: 1;
}

.experience a {
  text-decoration: none;
}

.title {
  margin: 0 0 0 1rem;
  padding: 0;
  color: black;
  opacity: 0.8;
}

.excerpt {
  margin: 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.repositories-container {
  display: flex;
  flex-wrap: wrap;
}
