.first-panel {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/shuttle_launch.jpg");
  background-size: cover;
  background-position: center;
  background-color: #040e18;
}

.first-panel-content {
  padding-top: calc(45vh - 72px);
  padding-left: 5vw;
}

.first-panel-header {
  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
}

.second-panel {
  min-height: 100vh;
  width: 100vw;
}

.second-panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-panel-header {
  margin-top: 100px;
  color: black;
  font-family: Poppins;
  font-weight: 500;
  font-size: 48px;
}

.separator {
  width: 80px;
  height: 3px;
  background-color: #DC3545;
}

.profile {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .profile {
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
  }
}

@media(prefers-reduced-motion) {
  .profile-item {
    transition: none;
  }
}

.profile-item {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 48px;

  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.profile-item.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.profile-item .title {
  font-size: 24px;
}

.profile-item .description {
  font-size: 16px;
  color: #626881;
}