.experience {
  display: flex;
  align-items: center;
  margin: 0 auto 12px auto;
}

.experience:last-child {
  margin-bottom: 0;
}

.icon {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  margin: 0;
}

.description {
  flex: 1;
  margin-left: 18px;
  padding: 12px;
}

.title {
  margin: 0 0 12px 0;
  padding: 0;
}

.excerpt {
  margin: 0;
}
