.header {
  background: #eeeeee;
  margin-bottom: 1.45rem;
}

.container {
  margin: 0 auto;
  max-width: 960;
  padding: 1.45rem 1.0875rem;
}

.title {
  margin: 0;
}

.link {
  color: black;
  text-decoration: none;
}
