.header {
  margin-bottom: 1.45rem;
}

.container {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
}

.navigation-item {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: var(--color-0);
  font-weight: 600;
  font-size: 24px;
  white-space: nowrap;
}

.navigation-item:hover {
  text-decoration: none;
  border-top: solid white 3px;
  border-bottom: solid var(--color-0) 3px;
}

.active {
  border-top: solid white 3px;
  border-bottom: solid var(--color-0) 3px;
}

.spacer {
  flex-grow: 1;
}
