.header {
  background: var(--color-4);
  margin-bottom: 1.45rem;
}

.container {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
}

.navigation-item {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.navigation-item:hover {
  text-decoration: none;
  border-bottom: solid white 3px;
  border-top: solid var(--color-4) 3px;
}

.navigation-item.active {
  border-bottom: solid white 3px;
  border-top: solid var(--color-4) 3px;
}

.spacer {
  flex-grow: 1;
}
