.repository-card {
  margin: 1rem 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 2px #efefef, -1px -1px 4px #efefef;
  width: calc(50% - 2rem);
  background-color: #ffffff;
}
@media screen and (max-width: 600px) {
  .repository-card {
    width: calc(100% - 2rem);
  }
}

.repository-card p {
  margin-bottom: 0;
}

a.repository-name {
  color: var(--color-1);
}
a.repository-name h3 {
  color: var(--color-1);
  margin: 0;
}
